body{
    margin:0;
    background-color:black;
    font-family: Droid Sans, sans-serif;
    overflow:hidden;
}

.noselect{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    -o-user-select: none;
    user-select: none;
}

#world{
    position:absolute;
}

#menu{
    position:fixed;
    z-index:100;
    height:100%;
    width:200px;
    background-color:#455865;
    left:-200px;
}
#toggle-menu{
    position:absolute;
    left:200px;
    padding:15px;
    background-color:#7F8C9A;
    cursor:pointer;
}

#tabs{
    height: 49px;
    background-color:#7F8C9A;
    border-bottom: 1px solid black;
}

#tabs ul{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 30px;
}

#tabs li{
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 -5px 0 0;
    cursor: pointer;
}

#tabs li.selected{
    padding-bottom: 1px;
    padding-top:5px;
    background-color:#455865;
}

#Users{
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    display:none;
}

#Options{
    display:none;
}

.myavy:hover{
    background-color:lightgrey;
}

.panel{
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slideOpen{
    animation: slideOpen linear .5s forwards;
}

.slideClose{
    animation: slideClose linear .5s forwards;
}

@keyframes slideOpen{
    from {left : -200px}
    to {left : 0px}
}

@keyframes slideClose{
    from {left : 0px}
    to {left : -200px}
}

/*chat css*/
#chat{
    position:fixed;
    right:0;
    bottom:0;
    width: 400px;
    height: 200px;
    background-color:#111;
    color:white;
    border-radius:5px;
}
#chat #input-bar{
    position: absolute;
    bottom:0;
    width:100%;
    background-color:#3A3A3A;
}

#chat #input-bar div {
    padding:5px;
}

#chat input{
    width:100%;
    border: 1px solid #0C0D0E;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    background:rgba(20, 20, 20, 0.75);
}

#messages{
    height:calc(100% - 29px);
    overflow-y:scroll;
    overflow-x:hidden;
}

#messages img{
    max-height:100px;
    max-width:100px;
}

/*message styling*/

.nick{
    color: #6464C0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.time{
    padding-left: .4em;
    font-size: .8em;
    padding-top: .2em;
    color:grey;
}

/*message types*/

.message{
    position:relative;
    padding-left:3.9em;
    text-indent:-3.9em;
    width:width:calc(90% - 10px);
    color:white;
    word-wrap: break-word;
    -webkit-backface-visibility: hidden;
}

.message-content{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.message div{
    display:inline;
}

.error-message{
    color:#FF0000;
    font-weight: bold;
}

.general-message{
    color: #2CE72C;
}

.note-message{
    color: #b30000;
}

.note-message .message-content:before,
.note-message .message-content:after,
.action-message .message-content:before,
.action-message .message-content:after,
.general-message .message-content:before,
.general-message .message-content:after{
    content: ' ** '
}