.chat-scrollbar::-webkit-scrollbar-thumb { /* CSS Rule #0 */
    background: #3A3A3A;
}

body {
    margin: 0;
    background-color: black;
    font-family: Droid Sans, sans-serif;
    overflow: hidden;
}

.noselect {
    -webkit-user-select: none; /* Chrome/Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
         -o-user-select: none;
            user-select: none;
}

#world {
    position: absolute;
    outline: none;
    height: 100%; /* Until #world's extra 4 pixels to the bottom is solved. Note: It makes it hard to put back chatbox to the edge, should make snap functionality */
}

#world-curtain {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0);
    pointer-events: none;
    transition: background 4s;
}

.world-curtain-down {
    background: rgba(0,0,0,0.7) !important;
    pointer-events: auto !important;
}

#menu {
    position: fixed;
    left: -200px;
    height: 100%;
    width: 200px;
    background-color: #455865;
    z-index: 100;
    transition: left 1s;
}
#toggle-menu {
    position: absolute;
    left: 200px;
    padding: 15px;
    background-color: #7F8C9A;
    cursor: pointer;
}

#tabs {
    height: 49px;
    border-bottom: 1px solid black;
    background-color: #7F8C9A;
}

#tabs ul {
    padding: 0;
    padding-top: 30px;
    margin: 0;
    list-style: none;
}

#tabs li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 -5px 0 0;
    cursor: pointer;
}

#tabs li.selected {
    padding-top: 5px;
    padding-bottom: 1px;
    background-color: #455865;
}

#User {
    display: none;
    text-align: center;
    list-style-type: none;
}

#Options {
    display: none;
}

.myavy:hover {
    background-color: lightgrey;
}

.panel {
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.slideOpen {
    left: 0px !important;
}

.slideClose {
    left: -200px !important;
}

#music {
    width: 200px;
}

#tracks {
    padding: 2px;
    cursor:pointer;
}

#tracks li {
    list-style-type: none;
    padding: 2px;
    border-bottom: 1px solid #0C0D0E; 
    background: #3A3A3A;
}

#tracks li:hover {
    background: #6A6A6A;
}
/* Users list */

#users {
    position: absolute;
    top: 10px;
    right: 10px;
}

#sphere:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #FFFFFF, rgba(255, 255, 255, 0) 66%);
    filter: blur(1px);
    z-index: -1;
}

#sphere {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 30%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7), 0 0 6px rgba(255, 255, 255, 0.7);
    color:white;
    font-size: 18px;
    font-family: Courier;
    line-height: 40px;
    text-align: center;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    cursor:pointer;
}

#users-list {
    position:absolute;
    top:45px;
    right:10px;
    height: auto;
    width: auto;
    max-height: 300px;
    min-width: 40px;
    max-width: 200px;
    padding: 6px 6px 6px 10px;
    border-radius:5px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: rgba(171, 205, 239, 0.5) 0 0 8px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 6px #000;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s;
}

#users-list li {
    list-style-type: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.userslist-open {
    transform: scaleY(1) !important;
}

.userslist-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.userslist-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.7) 0 0 8px, rgba(0,0,0, 0.7) 0 0 8px;
}

/* Resize handles */

.resizable-handle {
    position: absolute;
    -ms-touch-action: none;
    touch-action: none;
}

.resizable-right {
    top: 0;
    right: -8px;
    height: 100%;
    width: 12px;
    cursor: e-resize;
}

.resizable-left {
    top: 0;
    left: -8px;
    height: 100%;
    width: 12px;
    cursor: w-resize;
}

.resizable-bottom {
    bottom: -8px;
    left: 0;
    height: 12px;
    width: 100%;
    cursor: s-resize;
}

.resizable-top-right {
    top: -2px;
    right: -2px;
    height: 12px;
    width: 12px;
    cursor: nesw-resize;
    z-index: 1;
}

.resizable-top-left {
    top: -2px;
    left: -2px;
    height: 12px;
    width: 12px;
    cursor: nwse-resize;
    z-index: 1;
}

.resizable-bottom-left {
    bottom: -2px;
    left: -2px;
    height: 12px;
    width: 12px;
    cursor: nesw-resize;
    z-index: 1;
}

.resizable-bottom-right {
    bottom: -2px;
    right: -2px;
    height: 12px;
    width: 12px;
    cursor: nwse-resize;
    z-index: 1;
}

/* Chat */

/* 'N1' 'N2' Connected rules groups, should check all in the group when changing one rule. */

#chat {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    background-color: #111;
    box-shadow: 0 0px 6px rgba(0,0,0,0.5);
    color: white;
}

.move-chat {
    -webkit-transition: height 1s, top 1s, -webkit-transform 1s;
       -moz-transition: height 1s, top 1s;
        -ms-transition: height 1s, top 1s;
         -o-transition: height 1s, top 1s;
            transition: height 1s, top 1s, transform 1s;
}

.slideCloseChat {
    height: 47px !important;
}

#chat #input-bar {
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px); /* N1 */
    padding: 5px; /* N1 */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #3A3A3A;
    outline: none;
}

#chat #input-bar textarea {
    width: calc(100% - 6px); /* N1 */
    height: 15px; /* N1 */
    padding: 2px; /* N1 */
    border: 1px solid #0C0D0E; /* N1 */
    margin: 0; /* N1 */
    border-radius: 5px;
    float: left; /* Fix for Chrome's messed up padding */
    background: rgba(20, 20, 20, 0.75);
    color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    resize: none;
}

#chat #input-bar textarea::-webkit-input-placeholder {
    text-shadow: 0 0 2px #FFF;
}

#chat #input-bar textarea:-moz-placeholder { /* Firefox 18- */
    text-shadow: 0 0 2px #FFF;
}

#chat #input-bar textarea::-moz-placeholder {  /* Firefox 19+ */
    text-shadow: 0 0 2px #FFF;
}

#chat #input-bar textarea:-ms-input-placeholder {
    text-shadow: 0 0 2px #FFF;
}

#messages {
    position: absolute;
    top: 16px; /* N2 */
    height: calc(100% - 47px); /* N2 */
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    outline: none;
}

#messages img {
    max-height: 100px;
    max-width: 100px;
}

#chat #messages textarea {
    border: 1px solid #808080;
    border-radius: 2px;
    padding: 4px 6px;
    background-color: #101010;
    color: #DDDDDD;
}

#chat #messages textarea::-webkit-scrollbar {
    width: 10px;
}

#chat #messages textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #5A5A5A;
}

#chat #messages textarea::-webkit-resizer { /* Fix for Chrome's resizer color staying white when textarea background isn't, and it contains a scrollbar. */
    background-image: url('data:image/gif;base64,R0lGODlhCgAKAJEAAJ2dnQQEBP///wAAACH5BAEAAAIALAAAAAAKAAoAAAIRlI+pGysBWFRQmnbqm/tyJxQAOw==');
    background-repeat: no-repeat;
    background-color: inherit;
    background-position: 100% 100%;
}

#chat-background {
    position: absolute;
    top: 16px; /* N2 */
    height: calc(100% - 47px); /* N2 */
    width: 100%;
}

#title-bar {
    position: absolute;
    top: 0;
    height: 16px; /* N2 */
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #3A3A3A;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    outline: none;
}

#title-bar:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.chat-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

#minimize {
    position: absolute;
    top: 2px;
    right: 10px;
    height: 12px;
    width: 12px;
    box-shadow: 0 0px 1px rgba(0,0,0,1);
    border-radius: 5px;
    background: #5A5A5A;
    cursor: pointer;
}

#minimize:hover {
    background: #AA0000 !important;
}

#collapse {
    position: absolute;
    top: 2px;
    right: 25px;
    height: 12px;
    width: 12px;
    box-shadow: 0 0px 1px rgba(0,0,0,1);
    border-radius: 5px;
    background: #5A5A5A;
    cursor: pointer;
}

#collapse:hover {
    background: #0000AA !important;
}

#minimize span {
    position: absolute;
    top: 70%;
    left: 2px;
    height: 2px;
    width: 8px;
    border-radius: 1px;
    background: #CCCCCC;
}

#collapse span {
    position: absolute;
    top: 40%;
    left: 2px;
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #CCCCCC;
    -webkit-transition: -webkit-transform 1s, top 1s;
            transition: transform 1s, top 1s;
}

#collapse .flip-arrow {
    top: 25%;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
}

.triangle-color-hack {
    border-top: 6px solid #333333 !important;
}

#minimized-area {
    position: fixed;
    bottom: 5px;
    right: 0;
    height: 25px;
}

.minimized {
    display: inline-block;
    padding: 5px;
    border-top-left-radius: 10px;
    background-color: #7F8C9A;
    box-shadow: 0px 2px 8px 6px #7F8C9A;
    overflow: hidden;
    cursor: pointer;
}

/* Animations */

.barrel {
    animation: roll 3s;
    -webkit-animation: roll 3s;
}

@-webkit-keyframes roll {
from { -webkit-transform: rotate(0deg) }
to   { -webkit-transform: rotate(360deg) }
}

@keyframes roll {
from { transform: rotate(0deg) }
to   { transform: rotate(360deg) }
}

/* message styling */

.nick {
    color: #6464C0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.time {
    padding-top: .2em;
    padding-left: .4em;
    color: grey;
    text-shadow: 0 0 1px #000; /* In case of grey-ish background images */
    font-size: .8em;
}

/* message types */

.message {
    position: relative;
    padding-left: 3.9em;
    width: width:calc(90% - 10px);
    color: white;
    text-indent: -3.9em;
    word-wrap: break-word;
    -webkit-backface-visibility: hidden;
}

.message-content {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.message div {
    display: inline;
}

.action-message {
    color: rgb(102, 178, 255);
}

.error-message {
    color: #FF0000;
    font-weight: bold;
}

.general-message {
    color: #2CE72C;
}

.note-message {
    color: #b30000;
}

.note-message .message-content:before,
.note-message .message-content:after,
.action-message .message-content:before,
.action-message .message-content:after,
.general-message .message-content:before,
.general-message .message-content:after{
    content: ' ** '
}