body {
    margin: 0;
    overflow: hidden;
}

.noselect {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

#world {
    height: 3000px;
    width: 3000px;
    background-color: black;
    overflow: hidden;
}

#world:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

#world-objects {
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: 2;
}

#world-tiles {
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: 1;
}

#side {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: white;
    z-index: 9999;
}

.item, #pen {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    z-index: 5;
}

#tabs {
    height: 47px;
    background-color: #7F8C9A;
    border-bottom: 1px solid black;
}

#tabs ul {
    list-style: none;
    padding: 0;
    padding-top: 30px;
    margin: 0;
}

#tabs li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 -5px 0 0;
    cursor: pointer;
}

#tabs li.selected {
    padding-top: 5px;
    padding-bottom: 1px;
    background-color: #455865;
}

#menus {
    position: absolute;
    height: calc(100% - 47px);
    width: 100%;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    overflow: scroll;
}

.panel {
    display: none;
}

table {
    border-spacing: 0;
}

table tr {
	display: block;
	height: 16px;
    border: 0;
    border-collapse: collapse;
}
table td {
    padding: 0;
}
table td img {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.tile .tiles {
	height: 16px;
	width: 16px;
}

#settings {
    position: absolute;
    top: 30px;
    width: 100%;
    margin-top: 15px;
}

#AI {
    padding: 15px;
    text-align: center;
}

/* Tile editor pad */

#tiles ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#tiles ul li {
    display: inline;
    width: 50px;
    padding: 5px;
    border: 1px #aaa solid;
    border-bottom: none;
    background: #eee;
    overflow: hidden;
    cursor: pointer;
}

.tileSheetPanels div {
    display: none;
}


/* Tiles */
.item {
    position: absolute;
    height: 16px;
    width: 16px;
}

.remove .placed-object:hover {
    border : solid 1px red;
}

.remove .placed-tile:hover {
    border : solid 1px red;
}

/* AI panel */

.overlay {
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0 , 0, .5);
    z-index: 999;
}

#newAI #container {
    width: 400px;
    min-height: 400px;
    padding: 20px;
    margin: auto;
    background-color: grey;
}

#newAI #holdSpriteSheet {
    height: 200px;
    width: 180px;
    margin: auto;
    background-color: #eee;
    cursor: pointer;
}

#newAI #holdSpriteSheet img {
    height: 100%;
    width: 100%;
}

#newAI #aiSettings img {
    height: 100%;
    width: 100%;
}

#newAI .aiTalk {
    width: 100%;
}

#newAI .humanTalk {
    width: 80%;
    margin-top: 10px;
    margin-left: 20%;
}

#newAI .submitButton {
    width: 100%;
    margin-top: 30px;
}

/* Collsion panel */

#CollisionSettings {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#CollisionSettings #Panel {
    position: relative;
    top: 25%;
    width: 300px;
    border: 3px solid grey;
    margin: 0 auto;
    background-color: white;
}

#CollisionSettings .footer {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: grey;
    text-align: center;
}

#CollisionSettings .RedBox {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: red;
}

#CollisionSettings .HeightLine {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: blue;
}

.collisonBlob {
    position: absolute;
    background-color: red;
    z-index: 999;
}

/**/

.SpawnBlock {
    display: none;
    position: absolute;
    height: 48px;
    width: 48px;
    background-color: green;
    z-index: 99;
}

/* Resize handles */

.resizable-right {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.resizable-bottom {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
