body{
    margin:0;
    overflow:hidden;
}

.noselect{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    -o-user-select: none;
    user-select: none;
}

#world{
    width: 3000px;
    height: 3000px;
    overflow:hidden;
    background-color:black;
}

#world:active{
    cursor:-webkit-grabbing;
    cursor:grabbing;
}

#world-objects{
    width: inherit;
    height:inherit;
	position:absolute;
    z-index:2;
}

#world-tiles{
    width: inherit;
    height: inherit;
	position:absolute;
    z-index:1;
}

#side{
    position:fixed;
    z-index:9999;
    right:0;
    top:0;
    width:300px;
    height:100%;
    background-color:white;
}

.item,#pen{
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
    z-index:5;
}

#tabs{
    height: 47px;
    background-color:#7F8C9A;
    border-bottom: 1px solid black;
}

#tabs ul{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 30px;
}

#tabs li{
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 -5px 0 0;
    cursor: pointer;
}

#tabs li.selected{
    padding-bottom: 1px;
    padding-top:5px;
    background-color:#455865;
}

#menus{
    position:absolute;
    width:100%;
    height:calc(100% - 47px);
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    overflow:scroll;
}

.panel{
    display:none;
}

table{
    border-spacing:0px;
}

table tr{
	height: 16px;
	display: block;
    border: 0;
    border-collapse: collapse;
}
table td{
    padding:0;
}
table td img{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.tile.tiles{
	height:16px;
	width:16px;
}

#settings{
    position:absolute;
    top:30px;
    width:100%;
    margin-top:15px;
}

#AI{
    text-align: center;
    padding: 15px;
}

/*tile editor pad*/

#tiles ul {
    list-style: none;
    padding:0;
    margin:0;
}

#tiles ul li {
    display: inline;
    background: #eee;
    border: 1px #aaa solid;
    border-bottom: none;
    padding: 5px;
    cursor : pointer;
    overflow: hidden;
    width:50px;
}

.tileSheetPanels div{
    display:none;
}


/*tiles*/
.item{
    position:absolute;
    width:16px;
    height:16px;
}

.remove .placed-object:hover{
    border : solid 1px red;
}

.remove .placed-tile:hover{
    border : solid 1px red;
}

/*AI panel*/

.overlay{
    position:fixed; 
    z-index: 999; 
    left:0px; 
    top:0px; 
    width:100%; 
    height:100%; 
    background-color: rgba(0,0,0,.5); 
    display: inline-flex;
}

#newAI #container{
    width:400px; 
    min-height:400px; 
    background-color:grey; 
    margin:auto; 
    padding:20px;
}

#newAI #holdSpriteSheet{
    background-color:#eee;
    width:180px;
    height:200px;
    cursor:pointer;
    margin: auto;
}

#newAI #holdSpriteSheet img{
    width:100%;
    height:100%;
}

#newAI #aiSettings img{
    width:100%;
    height:100%;
}

#newAI .aiTalk{
    width:100%;
}

#newAI .humanTalk{
    width: 80%;
    margin-left: 20%;
    margin-top: 10px;
}

#newAI .submitButton{
    margin-top:30px;
    width:100%;
}

/*collsion panel*/

#CollisionSettings{
    position:fixed;
    z-index:100;
    left:0px;
    top:0px;
    background-color:rgba(0,0,0,0.5);
    height:100%;
    width:100%;
}

#CollisionSettings #Panel{
    position: relative;
    width: 300px;
    top: 25%;
    margin: 0 auto;
    background-color: white;
    border: 3px solid grey;
}

#CollisionSettings .footer{
    width:100%;
    height:25px;
    position:absolute;
    bottom:0px;
    background-color:grey;
    text-align:center;
}

#CollisionSettings .RedBox{
    width:16px;
    height:16px;
    background-color:red;
    position:absolute !important;
    top:0px;
    left:0px;
}

#CollisionSettings .HeightLine{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:5px;
    background-color:blue;
}

.collisonBlob {
    background-color:red;
    position:absolute;
    z-index:999;
}

/**/

.SpawnBlock{
    position: absolute;
    z-index: 99;
    width:48px;
    height:48px;
    background-color:green;
    display: none;
}

/* Resize handles */
.resizable-right {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.resizable-bottom {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}